@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Empatia";
}





<table>
    <tr>
        <td>
            <img style="text-align:center" src="~/img/Foto.jpg" alt="Minha Figura">
        </td>

        <td>
            <div class="jumbotron" >
                <h1 class="display-4"><b>Coaching</b></h1>
                <p class="lead">Para marcar sessões de coaching ou para mais informações, por favor contacte-nos:</p>
                <hr class="my-4">
                <span class="badge badge-info">Endereço de email:</span>
                <p>exemplo@exemplo.com</p>
                <span class="badge badge-info">Contacto Telefónico:</span>
                <p>999 999 999</p>
            </div>
        </td>
    </tr>

</table>