@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "GestaoTempo";
}


<h1>Técnicas para o desenvolvimento Emocional</h1>





<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Listar emoções vs razão 
                </button>
            </h5>
        </div>

      
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                                      <p style="text-align:center;">  <img src="~/img/desenemocional.png" alt="Minha Figura"></p>

                                      <ul>
                                          <li>
                                              1. Na coluna da esquerda, escreve o que as tuas emoções te dizem.
                                          </li>
                                          <li>
                                              2. Na coluna da direita, escreve o que te diz a razão.
                                          </li>
                                          <li>
                                              3. Quando as colunas estiverem preenchidas, responde às seguintes perguntas:
                                          </li>
                                     
                                          <li>
                                              &emsp; &emsp; <b> Onde poderão estar as tuas emoções a bloquear o teu raciocínio?</b>
                                          </li>
                                          <li>
                                              &emsp; &emsp; <b> Onde poderá estar a razão a ignorar as pistas mais importantes das tuas emoções?</b>
                                          </li>

                                      </ul>
                </div>
            </div>
        </div>
    </div>






