@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Empatia";
}


<h1>Técnicas para Gestão do Tempo</h1>


<h4>
    Para criarmos uma maior empatia, podemos as seguintes técnicas:
</h4>



<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Técnica Criar Empatia
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <h4>
                    Para criarmos uma maior empatia, podemos aplicar os seguintes passos:
                </h4>
                <ul>
                    <li>
                        1.	Espalhar o tom e a tonalidade de voz: Devemos tentar igualar ou, pelo menos, aproximar o tom e a tonalidade de voz aos da outra pessoa. Imagina uma conversa entre uma pessoa que fala muito rápido e outra que fala muito lento e pausadamente. Muito provavelmente, a pessoa que fala mais rápido vai irritar-se coma lentidão da outra pessoa a falar, pois parece que nunca mais diz aquilo que tem a dizer. Por outro lado, a pessoa que fala mais lentamente vai sentir-se cansada e esgotada com a velocidade da conversa da outra pessoa.
                        <br>
                        Para ganhar uma maior empatia devemos tentar, ao máximo, aproximar os nossos tom e tonalidade de voz dos da outra pessoa. Se falarmos muito rápido, devemos reduzir um pouco a intensidade, se falarmos muito lentamente, então, devemos aumentar um pouco a velocidade. O mesmo processo deve ser feito para o caso de falarmos muito alto (devemos baixar um pouco mais o tom). No entanto, atenção à forma como se espelha o tom e a tonalidade. Se a outra pessoa vai pensar que estamos a gozar com o seu sotaque e vai sentir-se insultada, e, em vez de ganharmos mais empatia, ainda afastamos mais a outra pessoa.
                    </li>
                    <li>
                        2.	Repetir palavras-chave: Além do tom e tonalidade devemos também espelhar o tipo de vocabulário e repetir algumas palavras-chave.
                        <br>  Por exemplo, se eu disser “Acho que aquilo foi fantástico”, poderíamos responder dizendo “E também foi fantástico quando aconteceu isto.”
                        <br>   Para comprovar este passo, basta imaginarmos uma conversa com um adolescente. Se tivermos um vocabulário rico e nos pusermos mais distantes, com ascendência sobre ele, o adolescente não vai sentir-se muito à vontade connosco, não vamos ganhar a empatia necessária. Se, por outro lado, repetirmos algumas palavras-chave que utiliza, como “fixe”, “boa”, “de mais”, entre outras, ele vai sentir-se mais próximo de nós.
                    </li>
                    <li>
                        3.	Espelhar a fisiologia: Espelhar a fisiologia da outra pessoa é um dos passos mais fortes para criar empatia, porque, ao espelharmos alguns movimentos, embora conscientemente a outra pessoa não se aperceba, no plano subconsciente, o cérebro vai sentir que aquela pessoa tem movimentos semelhantes aos nossos. E como gostamos de pessoas parecidas connosco, a outra pessoa vai sentir mais empatia por nós, mesmo sem perceber porquê.
                        <br>   Mas cuidado ao espelhas a fisiologia. Devemos espelhar vários movimentos, mas não imitar tudo. Devemos também fazê-lo com atraso de alguns segundos. Se imitarmos todos os movimentos e ao mesmo tempo que ocorrem, a outra pessoa vai perceber que estamos a imitá-la e vai irritar-se.
                        <br>  Há pessoas que dizem que não concordam em “fingir” ser outra pessoa, de modo que consigam ganhar empatia com outra pessoa. Acham que não ºe correto, que estamos a manipular a outra pessoa e que ou ganharmos empatia naturalmente com alguém ou não ganhamos.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Técnica Elogiar
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h4>
                        O elogio pode ser um motivador poderoso se as pessoas seguirem as seguintes características:
                    </h4>
                    <ul>
                        <li>
                            Ser sincero e específico com o elogio                           <br>
                        </li>
                        <li>
                            Elogiar apenas características que tenham o poder de mudar                           <br>
                        </li>
                        <li>
                            Ser cuidadoso em elogiar as conquistas que venham facilmente   <br>
                        </li>
                        <li>
                            Ser cuidadoso em elogiar as crianças por fazerem algo que já amam fazer  <br>
                        </li>
                        <li>
                            Encorajar as crianças a focarem-se em dominar as suas habilidades em vez de as compararem com as outras  <br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

































