@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "GestaoTempo";
}


<h1>Técnicas para Exaustão Emocional</h1>





<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Técnica para a dissociação 
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              
                <ul>
                    <li>
                        Fecha os olhos e recorda o momento que te deixou alterado profundamente. Recorda com pormenor. Agora, de um a dez, sendo o dez o valor mais intenso, qual o valor que essa emoção te faz sentir?
                    </li>
                    <li>
                        Agora põe uma música de circo nessa recordação. Pões um nariz de palhaço nas pessoas, mete-lhes a voz fininha, uma cabeleira postiça e emoldura o filme com uma moldura dourada.
                    </li>
                    <li>
                        Imagina o filme dessa forma, a tocar música e com esses adereços, mas em velocidade rápida.
                    </li>
                    <li>
                        Agora imagina o filme dessa forma, mas de trás para a frente.
                    </li>
                    <li>
                        Abre os olhos e tenta lembrar-te do que almoçaste ontem, do que jantaste anteontem,<i> et cetera.</i> (Faz isto para que o cérebro vá buscar outra informação, mudando o registo).
</li>
                    <li>
                        Repete os passos 2 a 5 mais duas vezes.
                    </li>
                    <li>
                        Abre os olhos e lembra-te desse momento outra vez, agora de um a dez, qual o valor que essa emoção te faz sentir? Deverá ser inferior…
                    </li>
                                  </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Técnicas gatilhos emocionais 
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h4>
                        Gatilhos emocionais            <br>
                    </h4>
                    <p style="text-align:center;">  <img src="~/img/gatilhos.png" alt="Minha Figura"></p>

                    <ul>
                        <li>
                            <b>Gatilho: </b> Indica a pessoa ou situação que ativa o gatilho.
</li>
                        <li>
                            <b>
                                Emoção:
                            </b>Indica a emoção ou emoções que sentes quando o gatilho dispara.
</li>
                        <li>
                            <b>
                                Motivo:
                            </b> 
                            Pensa um pouco no que pode estar a fazer disparar este gatilho. Será algum choque de valores? Será alguma crença que está a ser desrespeitada? Será a associação a alguma experiência passada?
                        </li>
                        <li>
                            <b>
                                Plano: 
                            </b>
                             Escreve aquilo que vais fazer para evitar que este gatilho dispare ou para reduzir a sua carga emocional. Fazer este exercício já está a ser uma ajuda nesse aspeto. No entanto, considerando que os gatilhos emocionais são intensos e eliminam a tua parte racional, escreve o que poderás fazer para evitar o gatilho, de forma que automatizes este plano de contenção.
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>






