@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "GestaoTempo";
}


<h1>Técnicas para Gestão de Tempo</h1>


<h4>
    Técnicas que podem ser utilizadas para a gestão de tempo: 
</h4>



<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Técnica Visualização 
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Põe-te de pé, junta os pés, estica o braço direito e o indicador, apontando para a frente, como se estivesses a apontar para alguma coisa.                  <br>
                    </li>
                    <li>
                        Agora, roda o braço para a tua direita até onde conseguires e memoriza o ponto onde o teu indicador aponta. Com a rotação que fizeste com o braço e com o corpo (sem mexer os pés), vê até aonde conseguinte chegar.<br>
                    </li>
                    <li>
                        Volta à posição inicial, com o braço para baixo.  <br>
                    </li>
                    <li>
                        Fecha os olhos e visualiza-te (apenas visualiza) a fazeres o exercício que fizeste há pouco. Visualiza-te a fazeres isto e a tentares chegar um pouco mais longe do que conseguiste quando executaste o ponto dois.<br>
                    </li>
                    <li>
                        Repete o exercício de visualização e visualiza-te a chegar ainda mais longe.<br>
                    </li>
                    <li>
                        Repete o exercício de visualização, mas agora visualiza-te a dar uma volta de 360 graus com o braço.<br>
                    </li>
                    <li>
                        Agora, abre os olhos e faz o exercício, como fizeste da primeira vez.<br>
                    </li>
                    <li>
                        <br>
                        <br>
                        Se fizesse este exercício corretamente, deverás ter notado que chegaste mais longe agora do que na primeira vez.
                    </li>


                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Técnica Traçar objetivos
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p style="text-align:center;">  <img src="~/img/objetivos.jpeg" alt="Minha Figura"></p>
                    <ul>
                        <li>
                            De um a dez, qual o teu grau de satisfação em cada uma destas áreas na tua vida? Agora preenche com o valor que escolheste. Olhando para a roda da vida, melhorando em qual das seguintes áreas é que achas que conseguirás impulsionar outras, criando maior impacto positivo na tua vida? Escolhe uma das fatias.                          <br>
                        </li>
                        <li>
                            Caso o teu grau de satisfação nessa fatia não seja dez (que não deve ser, pois se fosse não irias querer melhorar), que é preciso para que chegue aí? Que é preciso acontecer? Que gostarias de fazer ou ter? escreve tudo aquilo que queres alcanças nesta área. Não penses agora no como, escreve apenas aquilo que realmente queres atingir. Mesmo que julgues que é algo impossível de alcançar, mas que queres muito, escreve na mesma, já vamos ver como conseguimos lá chegar, mas agora só quero que registes tudo aquilo que queres ter e alcançar nessa fatia da vida, de forma que a tua satisfação possa ser dez. Escreve várias coisas, tudo o que te vier à cabeça.                    <br>
                        </li>
                        <li>
                            Agora, em frente de cada objetivo que escolheste, escreve o número um, três, cinco ou mais de dez. Estes números representam o número de anos em que queres atingir o objetivo. Aqui, tens de ser ambicioso, mas realista. Não existem objetivos impossíveis, existem, sim, prazos impossíveis. Se quiseres 10.000 euros daqui a um mês, ganhares 500 euros por mês e não tiveres mais fontes de rendimento nem dinheiro no banco, será muito difícil. Agora, se esse objetivo for para daqui a dez anos, por exemplo, já se poderia construir um plano para tentar lá chegar.   <br>
                        </li>
                        <li>
                            Escolhe agora um dos objetivos a um ano. Se não tiveres nenhum, fatia um objetivo que tenha um prazo maior para algo que se enquadre dentro de um ano (Exemplo: Daqui a cinco anos, quero um pequeno veículo. Então, daqui a um ano, por exemplo, quero ter a carta de marinheiro). <br>
                        </li>
                        <li>
                            <b>
                                O meu objetivo:  </b>
                                    <br>
                                    &emsp;1.	Agora, fatia de novo o objetivo para saberes onde tens de estar em diferentes partes do tempo.     <br>
                                    &emsp; &emsp; Daqui a seis meses:     <br>
                                    &emsp; &emsp; Daqui a um mês:     <br>
                                    &emsp; &emsp; Daqui a uma semana:     <br>
                                    &emsp; 2.	Escreve os passos que vais dar já amanhã ou, no máximo, depois de amanhã para começares a caminhar rumo ao teu objetivo.     <br>

</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





