@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "GestaoTempo";
}


<h1>Técnicas para Gestão de Conflitos</h1>





<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Técnica para Comunicar Eficazmmente
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <h4>
                    Sabemos que a comunicação é feita de forma verbal e não verbal.
                </h4>
                <ul>
                    <li>
                        A comunicação verbal envolve palavras ditas ou escritas. As palavras que dizemos aos nossos amigos ou a página do jornal que lemos são exemplos de comunicação verbal. Os humanos são a única espécie que tem esta capacidade de comunicação, sendo um dos grandes atributos que nos separa das outras espécies. Conseguimos pegar em sons ou caracteres e organizá-los numa forma de comunicação. Esta comunicação traz grandes vantagens que, aliadas às novas tecnologias, nos permitem não só passar uma mensagem para qualquer pessoa, em qualquer lado do mundo, como persuadir pessoas, debater ideias, estimular a criatividade e trabalhar em relacionamentos.
                        <br>  A comunicação não verbal, por outro lado, é feita de forma não verbal, afetando a perceção da mensagem pelas pessoas à nossa volta. Esta comunicação envolve gestos, postura e expressões faciais, bem como o tom, o timbre e a tonalidade da voz. Embora pareça que este tipo de comunicação é menos forte do que outro, a verdade é que é completamente o oposto. Podemos optar por utilizar a comunicação verbal, mas estamos sempre a utilizar a linguagem não verbal.
                        <br>  Se comunicarmos verbalmente de uma forma e não verbalmente de outra, torna-se confuso para quem está do outro lado. Além do mais, a comunicação não verbal tem mais peso do que a comunicação verbal. Por isso, em caso de dúvida, a comunicação não verbal é a que ganha.
                        <br> Por exemplo, se evitarmos contacto visual quando dizemos a alguém que a amamos, isso comunica algo completamente diferente das palavras faladas, tal como um sorriso verdadeiro quando damos os parabéns a alguém reforça a sinceridade das nossas palavras.
                        <br> A técnica de comunicar eficazmente serve para termos atenção à forma como comunicamos. Se queremos melhorar os nossos relacionamentos pessoais, devemos transmitir a mensagem eficazmente, quer de fora verbal como não verbal.
                        <br>  Imagina dizeres a alguém que não estás chateado, enquanto estás a gritar e com os punhos contraídos. A mensagem não é eficaz e a outra pessoa vai perceber que estás chateado. Imagina que alguém te está a contar algo com muita paixão e tu dizes “Isso é muito interessante” de forma monocórdica e sem esboçar nenhuma expressão de felicidade ou de entusiasmo ou até mesmo suspirando. Este tipo de comunicação não verbal pode sabotar completamente a tua mensagem e, com isso, as tuas relações.


                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Técnica Leitura das expressões faciais
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h4>
                        A forma como posicionamos e movemos a cabeça revela o que estamos a sentir ou a pensar. Pode revelar atitudes, contrair o que estamos a dizer ou reforçar a nossa mensagem.
                        <br>  Algumas mensagens que os movimentos da cabeça transmitem:
                    </h4>
                    <ul>
                        <li>
                            <b> Cabeça e queixo levantados  </b> <br>
                            Demonstra sinal de poder e de superioridade. Se te sentires em baixo, faz isto durante alguns instantes e verás o teu estado de espírito melhorar.
                        </li>
                        <li>
                            <b>
                                Cabeça levantada e ligeiramente inclinada
                            </b><br>
                                Sinal de arrogância. É parecida com a postura de poder, mas a pessoa inclina ligeiramente a cabeça, de forma que olhe de cima para baixo, por cima do ombro.
</li>
                        <li>
                            <b>
                                Olhar “por cima dos óculos”
                            </b> <br>
                                Atitude crítica ou pedido de mais informação. Facilmente nos lembramos daqueles professores que tinham óculos e olhavam de baixo para cima em sinal de crítica, ou quando estavam à espera de que explicássemos melhor o que estávamos a dizer.
</li>
                        <li>
                            <b>
                                Baixar a cabeça
                            </b><br>
                                Baixar a cabeça faz-nos parecer mais pequenos e menos ameaçadores, sendo este um ato de submissão.
</li>
                        <li>
                            <b>
                                Tocar/Coçar a cabeça
                            </b><br>
                                Quando coçamos a cabeça (ou pescoço ou outras partes da face) ou quando colocamos a mão na cabeça, tende a ser um sinal de desconforto.
</li>
                        <li>
                            <b>
                                Ficar de pé
                            </b><br>
                                As pessoas que têm preferência por ficar de pá costumam ser mais ativas do que as que preferem sentar-se ou deitar-se. Isto porque permite pensarem e moverem-se mais rapidamente do que as outras posições. Por exemplo, nos acontecimentos sociais, as pessoas mais ativas tendem a ficar mais de pé, já que lhes permite movimentar-se mais facilmente, conseguindo comunicar com várias pessoas.
</li>
                        <li>
                            <b>
                                Sentar
                            </b><br>
                                Esta é uma posição com menos energia do que a de ficar em pé. O nosso corpo está dobrado pelo meio, sendo fácil cais para a frente ou para trás se estivermos mais cansados.
                                <br>  Este tipo de postura pode revelar diferentes estados de espírito, dependendo de como os nossos braços, pernas, tronco e cabeça estão posicionados.
                                <br> Se uma pessoa estiver encostada para trás, com as pernas e braços relaxados, é um sinal de que está esgotada. Se, no entanto, as costas estiverem inclinadas para a frente, direitas, e as pernas e os braços, firmes, então, quer dizer que a pessoa está interessada ou pronta para a ação.
                                <br>  Embora uma posição relaxada ajude a pensar e a refletir, cuidado para não manteres esta posição por muito tempo ou irás sentir-te esgotado.
</li>
                        <li>
                            <b>
                                Deitar
                            </b><br>
                                Se quisermos algum tempo para refletir e relaxar, esta é a posição que iremos preferir. Permite-nos entrar em contacto com os nossos sentimentos mais facilmente, sendo uma postura submissa.
</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






