@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "GestaoStress";
}


<h1>Técnicas para Gestão do Stress</h1>


<h4>
    Técnicas que podem ser utilizadas para a redução do stress:
</h4>



<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Técnica Meditação
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Encontrar um lugar de refúgio calmo, ou um local em casa, numa zona onde ninguém te incomode;                        <br>
                    </li>
                    <li>
                        Coloca-te numa postura confortável, mas direita. Não pode ser inclinado para a frente, para o lado ou para trás, tem de ser uma postura correta. Tanto pode ser sentado no chão com as pernas cruzadas ou numa cadeira com os pés assentes no chão. O objetivo é que o corpo fique direito e relaxado. <br>
                    </li>
                    <li>
                        Embora não seja “obrigatório” recomendo que experimentes a meditação como uma oportunidade para trabalhares algo em ti. A meditação só traz benefícios, produz excelentes resultados e não tem contraindicações.  <br>
                    </li>
                    <li>
                        Fecha os olhos e aplica um dos dois tipos de meditação (concentrado na respiração ou concentrado num objeto, imagem, palavra, número, entre outros). Regra geral é mais fácil aprender a meditar se nos concentrarmos na respiração.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Técnica Respiração
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                   
                    <ul>
                        <li>
                            Respira profundamente, enchendo o diafragma de oxigénio, empurrando a barriga para fora                          <br>
                        </li>
                        <li>
                            Expira lentamente, esvaziando por completo o diafragma                         <br>
                        </li>
                        <li>
                            Concentra-te neste movimento do ar a entrar e a sair   <br>
                        </li>
                        <li>
                            Repete 10 vezes este exercício e deverás sentir-te mais calmo. O cérebro ficará mais oxigenado, com mais capacidade de raciocínio, visto que estarás a ativar o sistema parassimpático.  
                        </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>






