@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "GestaoTempo";
}


<h1>Técnicas para a Inteligência Emocional Global</h1>





<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Técnica para crença limitadora
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <h4>
                   Identificar crenças limitadoras           <br>
                </h4>
                <ul>
                    <li>
                        <i>
                            Primeira crença limitadora:
                        </i>
                        <br>
                        <b><u>Generalização: </u></b> a generalização não é mais do que colocar tudo sobre a mesma bitola, como por exemplo, numa relação que termina mal, a mulher acreditar “que os homens são todos iguais”. Esta crença não só é destrutiva, como nos molda os futuros comportamentos. Ter como exemplo o “eu nunca irei conseguir” também é uma destas crenças, que nos impedem constantemente de chegar mais longe.
                    </li>
                    <li>
                        <i>
                            Segunda crença limitadora:
                        </i>
                        <br>
                        <b><u>Focar-se no negativo: </u></b> esta crença ocorre quando os nossos pensamentos refletem apenas o negativo e ignoram o positivo. Isto do focar-se no negativo é viciante. O nosso cérebro está programado para reconhecer as nossas preferências e se elas se focam nos aspetos negativos é só isso que vamos reconhecer…e é muito mau!
                    </li>
                    <li>
                        <i>
                            Terceira crença limitadora:
                        </i>
                        <br>
                        <b><u>Profecia: </u></b> esta crença acontece quando prevemos o pior resultado para uma situação ou que aquilo que vai acontecer irá ser negativo. É certo que ter as espectativas baixas, impede muitas vezes que a pessoa saia magoada, mas a nossa autoestima vai sofrer um rombo se nos mentalizarmos que tudo de mal pode acontecer…e quem sofre com isso é só uma pessoa…tu! portanto otimismo e mais importante, visualizar o sucesso.
                    </li>
                    <li>
                        <i>
                            Quarta crença limitadora:
                        </i>
                        <br>
                        <b><u>Leitura da mente: </u></b> esta crença acontece quando julgamos saber o que os outros estão a pensar. Ora só estamos a projetar os nossos pensamentos e nada mais.
                    </li>
                    <li>
                        <i>
                            Quinta crença limitadora:
                        </i>
                        <br>
                        <b><u>Pensar com os nossos sentimentos: </u></b> o nosso estado de espírito influencia os pensamentos, se nos sentirmos em baixo vamos ser invadidos por pensamentos depressivos, mas não necessariamente verdadeiros. O “não sou capaz” pode ser, efetivamente, paralisante.
                    </li>
                    <li>
                        <i>
                            Sexta crença limitadora:
                        </i>
                        <br>
                        <b><u>Obrigação: </u></b> Esta crença passa pela forma como a verbalizamos. O “eu devia passar mais tempo em casa” é consideravelmente diferente de “eu quero passar mais tempo em casa”. Ao verbalizar algo que não implique obrigação, vou-me sentir logo melhor e vou reagir de forma diferente.
                    </li>
                    <li>
                        <i>
                            Sétima crença limitadora:
                        </i>
                        <br>
                        <b><u>Rotular: </u></b> Rotular é bom para identificarmos quem é quem, o que temos de ter atenção é aos rótulos negativos. Dizem que a primeira impressão é importante, mas a pessoa que acabamos de conhecer pode estar a passar por um momento difícil. Por isso rotular condiciona o nosso cérebro.
                    </li>
                    <li>
                        <i>
                            Oitava crença limitadora:
                        </i>
                        <br>
                        <b><u>Personalização: </u></b>esta crença tem a ver com a atribuição de um significado pessoal àquilo que corre mal, como por exemplo, “o meu trabalho de grupo correu mal, porque eu fiz mal a minha parte”. Não…A única coisa que nós não controlamos é o mundo exterior e se não o podemos controlar então mais vale ultrapassar…
                    </li>
                    <li>
                        <i>
                            Nona crença limitadora:
                        </i>
                        <br>
                        <b><u>A culpa: </u></b>esta reflete o culpar tudo e todos pelo que acontece de errado connosco. O pior é que ao culpar os outros tornamo-nos vítimas das circunstâncias, porque os outros raramente admitem os problemas e não conseguiremos de todo resolver a situação.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Técnicas para a Hierarquização de valores 
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    

                    <ul>
                        <li>
                            <b>
                                1. Com base no quadro seguinte escolhe oito valores que consideras mais importantes para ti. Não te preocupes agora com a ordem hierárquica, escolhe apenas oito dos mais importantes.
                            </b>      <br>                        <img style="text-align:center" src="~/img/box1.png" alt="Minha Figura">

                        </li>

                        <li>
                            <b>

                                2. De todos os valores que selecionaste, com base no primeiro quadro, escolhe agora os cinco valores que, para ti, são mais importantes e coloca-os no quadro abaixo.
                            </b>  <br>  <img style="text-align:center" src="~/img/box2.png" alt="Minha Figura">
                        </li>

                        <li>
                            <b>
                                3. Agora vamos pôr os valores por ordem. De forma que faças a hierarquização dos teus valores, presta atenção aos seguintes pontos:
                            </b>
                        </li>

                        <li>
                            qual dos seguintes valores é mais importante para ti? A ou B? Dá um ponto ao valor mais importante entre os dois.
                        </li>
                        <li>
                            repete a pergunta, comparando A e C, A e D, até todos os valores estarem comparados com o A. Depois compara B e C, B e D, e assim por diante para todos os valores. Comparas sempre um valor com os outros que estão em baixo
                        </li>
                        <li>
                            quando terminado, soma os pontos de cada valor.
                        </li>
                        <li>
                            se dois ou mais valores tiverem a mesma pontuação, pergunta “Qual destes valores é mais importante para mim?” e adiciona um ponto a esse. Repete esse passo até todos os valores estarem desempatados.
                        </li>
                        <li>
                            <b>  4. Verifica a pontuação final e escreve os teus valores pessoais de forma descendente. </b>

                        </li>
                        <li>
                            <b>
                                Os meus valores:
                                <br>    <img style="text-align:center" src="~/img/box3.png" alt="Minha Figura">
                            </b>

                        </li>


                                         <li>
                            <i>
                                Refletir:
                            </i>
                            Que pensas do resultado final? Como julgas que estes valores refletem a tua atitude perante o mundo? Estás a aplicar estes valores no teu dia-a-dia? Ou o teu dia-a-dia faz com que entres em conflito com estes valores?
                        </li>



                    </ul>
                </div>
            </div>
        </div>
    </div>






