@model EmotionalIntel.Models.Perguntas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Perguntas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TxtPergunta" class="control-label"></label>
                <input asp-for="TxtPergunta" class="form-control" />
                <span asp-validation-for="TxtPergunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TesteFK" class="control-label"></label>
                <select asp-for="TesteFK" class ="form-control" asp-items="ViewBag.TesteFK"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
