
@{
    ViewData["Title"] = "FazerTeste";
}

    <h1>
        Teste de avaliação de competência para EMPATIA
    </h1>

    <table>
        <tr>
            <td>
                1. Quando alguém está animado(a), tendo a ficar animado(a) também
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p1" value="0">
                <label for="male">não; nunca; </label>
                <br>
                <input type="radio" id="p1r2" name="p1" value="1">
                <label for="male">às vezes; </label>
                <br>
                <input type="radio" id="p1r3" name="p1" value="2">
                <label for="male">sim; sempre; </label>
                  <br>
            </td>
        </tr>
        <tr>
            <td>
                2. A infelicidade ou desgraça das outras pessoas abala-me muito.
            </td>
        <tr>
            <td>
                <input type="radio" id="p2r1" name="p2" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="p2r2" name="p2" value="1"
                <label for="male">às vezes; </label>
                <br>
                <input type="radio" id="p2r3" name="p2" value="2">
                <label for="male">sim; sempre; </label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                3.	Me incomoda ver alguém sendo tratado(a) com desrespeito.
            </td>
        <tr>
            <td>
                <input type="radio" id="p3r1" name="p3" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="p3r2" name="p3" value="1">
                <label for="male">às vezes; </label>
                <br>
                <input type="radio" id="p3r3" name="p3" value="2">
                <label for="male">sim; sempre; </label>
                 <br>
            </td>
        </tr>
        <tr>
            <td>
                4.	Contagio-me quando outra pessoa próxima a mim está feliz.
            </td>
        <tr>
            <td>
                <input type="radio" id="p4r1" name="p4" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="p4r2" name="p4" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="p4r3" name="p4" value="2">
                <label for="male">sim; sempre; </label>
                 <br>
            </td>
        </tr>
        <tr>
            <td>
                5.	Eu gosto de fazer outras pessoas se sentirem bem.
            </td>
        <tr>
            <td>
                <input type="radio" id="p5r1" name="p5" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="p5r2" name="p5" value="1">
                <label for="male">às vezes; </label>
                <br>
                <input type="radio" id="p5r3" name="p5" value="2">
                <label for="male">sim; sempre; </label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                6.	Eu tenho compaixão e preocupação pelas pessoas que são menos privilegiadas do que eu.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p6" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p6" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="male" name="p6" value="2">
                <label for="male">sim; sempre; </label>
               <br>
            </td>
        </tr>
        <tr>
            <td>
                7.	Quando um(a) amigo(a) começa a falar de seus problemas, tento levar a conversa para outro assunto.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p7" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p7" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="male" name="p7" value="2">
                <label for="male">sim; sempre; </label>
               <br>
            </td>
        </tr>
        <tr>
            <td>
                8.	Posso dizer quando outras pessoas estão tristes mesmo se elas não disserem nada.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p8" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p8" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="male" name="p8" value="2">
                <label for="male">sim; sempre; </label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                9.	Sinto que estou em sintonia com o humor das outras pessoas.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p9" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p9" value="1">
                <label for="male">às vezes; </label>
                <br>
                <input type="radio" id="male" name="p9" value="2">
                <label for="male">sim; sempre; </label>
               <br>
            </td>
        </tr>
        <tr>
            <td>
                10.	Sinto compaixão pelas pessoas que provocaram sua própria doença.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p10" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p10" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="male" name="p10" value="2">
                <label for="male">sim; sempre; </label>
               <br>
            </td>
        </tr>
        <tr>
            <td>
                11.	Fico irritado(a) quando alguém chora.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p11" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p11" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="male" name="p11" value="2">
                <label for="male">sim; sempre; </label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                12.	Estou muito interessado(a) em como outras pessoas se sentem.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p12" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p12" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="male" name="p12" value="2">
                <label for="male">sim; sempre; </label>
              <br>
            </td>
        </tr>
        <tr>
            <td>
                13.	Sinto uma forte necessidade de ajudar quando vejo que alguém está mal.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p13" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p13" value="1">
                <label for="male">às vezes; </label>
                <br>
                <input type="radio" id="male" name="p13" value="2">
                <label for="male">sim; sempre; </label>
               <br>
            </td>
        </tr>
        <tr>
            <td>
                14.	Quando vejo alguém sendo tratado injustamente, sinto piedade.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p14" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p14" value="1">
                <label for="male">às vezes;  </label>
                <br>
                <input type="radio" id="male" name="p14" value="2">
                <label for="male">sim; sempre; </label>
                <br>
                        </td>
        </tr>
        <tr>
            <td>
                15.	Eu acho tolo quando as pessoas choram de felicidade.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p15" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p15" value="1">
                <label for="male">às vezes; </label>
                <br>
                <input type="radio" id="male" name="p15" value="2">
                <label for="male">sim; sempre; </label>
               <br>
            </td>
        </tr>
        <tr>
            <td>
                16.	Quero defender e proteger as pessoas de quem foi tirada alguma vantagem quando vejo uma situação do tipo.
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p16" value="0">
                <label for="male">não; nunca;</label>
                <br>
                <input type="radio" id="male" name="p16" value="1">
                <label for="male">às vezes;</label>
                <br>
                <input type="radio" id="male" name="p16" value="2">
                <label for="male">sim; sempre; </label>
             <br>
            </td>
        </tr>

    </table>

<button type="button" onclick="calculaFuncao()">Calcular 
</button>

<script>
    function calculaFuncao() {
        var soma = 0; 
        for (var i = 1; i <= 16; i++) {                                                           
          //  alert('input[name="p' + i + '"]:checked');                            

            soma += parseInt(document.querySelector('input[name="p' + i + '"]:checked').value);
        }
        if (soma > 21) alert("Pontuação Alta , parabéns, a seu nível de empatia é elevado. Resultado= "  + soma);
        else if (soma >= 10 && soma < 21) alert("Pontuação media , poderá melhorar a sua empatia. Resultado=" + soma);
        else if (soma < 10) alert("Pontuação baixa, necessita de melhorar a sua empatia. Resultado= "+ soma);

    } 
    </script>
