
@{
    ViewData["Title"] = "FazerTeste";
}

    <h1>
        Teste de avaliação de competência
        GESTÃO DE TEMPO
    </h1>

    <table>
        <tr>
            <td>
                1. Não faço listas dos trabalhos que devem ser executados.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p1" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p1" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                2. Não fixo metas/objetivos a mim próprio.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p2" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p2" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                3. Fixo metas /objetivos a mim próprio, mas depois não os controlo.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p3" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p3" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                4. Gosto de falar com as outras pessoas e muitas vezes interrompo-lhes o trabalho.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p4" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p4" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                5. A minha capacidade de concentração é pouca e distraio-me com facilidade.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p5" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p5" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                6. Frequentemente faço várias tarefas ao mesmo tempo.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p6" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p6" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                7. Gosto de estar envolvido em tudo.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p7" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p7" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                8. Frequentemente faço telefonemas particulares no trabalho.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p8" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p8" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                9. Gosto de ajudar os outros.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p9" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p9" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                10. Gosto de fazer coisas que fazem sentir importante.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p10" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p10" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                11. Não gosto de pensar que causei incómodo a outras pessoas.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p11" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p11" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                12. Digo mais facilmente “SIM” do que “NÃO”.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p12" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p12" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                13. Acho que sou demasiadas vezes interrompido no meu trabalho.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p13" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p13" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                14. Tenho tendência para concordar com prazos que duvido que possa cumprir.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p14" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p14" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                15. Acho difícil ter reuniões curtas com visitantes, mesmo quando não estavam marcadas.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p15" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p15" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                16. Tenho tendência para resolver as questões de pouca prioridade em detrimento da tarefa que estou a realizar, mesmo sabendo que são menos importantes.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p16" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p16" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                17. Tenho tendência para ter grandes conversas nos meus telefonemas de trabalho.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p17" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p17" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                18. Raramente resumo os pontos principais no fim de uma chamada.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p18" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p18" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                19. Faço os telefonemas aleatoriamente ou à medida que me ocorrem.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p19" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p19" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                20. Raramente tomo notas durante os telefonemas.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p20" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p20" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                21. Por vezes tenho que fazer uma segunda chamada por me ter esquecido de qualquer coisa na primeira.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p21" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p21" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                22. Esqueço-me de transmitir as mensagens dos outros.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p22" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p22" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                23. Raramente sei quanto tempo estive ao telefone.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p23" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p23" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                24. Marco um número e depois esqueço-me para quem estou a ligar.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p24" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p24" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                25. Fico irritado quando sou atendido por um gravador.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p25" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p25" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                26. Tenho relutância em delegar.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p26" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p26" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                27. Gosto de me envolver em todas as coisas que acontecem.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p27" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p27" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                28. Acho que há demasiados papeis para tratar.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p28" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p28" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                29. Penso que as minhas rotinas para lidar com a generalidade das tarefas são fracas.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p29" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p29" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                30. Acho que falho na execução de certas tarefas.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p30" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p30" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                31. Considero-me pouco organizado.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p31" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p31" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                32. Muitas vezes penso que há demasiado trabalho de rotina.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p32" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p32" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                33. Não estabeleci um sistema para ler os documentos.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p33" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p33" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                34. O meu ambiente de trabalho é descuidado.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p34" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p34" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                35. Tenho dificuldade em começar trabalhos que me aborrecem.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p35" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p35" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                36. Quando tenho que escrever cartas, propostas e relatórios perco tempo a adiar a sua execução.
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p36" value="0">
                <label for="male">Não</label>
                <br>
                <input type="radio" id="p1r2" name="p36" value="1">
                <label for="male">Sim</label>
                <br>
            </td>
        </tr>


    </table>

<button type="button" onclick="calculaFuncao()">Calcular 
</button>

<script>
    function calculaFuncao() {
        var soma = 0; 
        for (var i = 1; i <= 36; i++) {
          //  alert('input[name="p' + i + '"]:checked');

            soma += parseInt(document.querySelector('input[name="p' + i + '"]:checked').value);
        }
        if (soma < 12) alert("Parabéns! Têm uma boa gestão de tempo. Resultado=" + soma);
        else if (soma >= 12 && soma < 24) alert("Pontuação média , poderá melhorar a sua gestão temporal. Resultado=" + soma);
        else if (soma >= 24) alert("Pontuação Baixa. A sua gestão de tempo é má! Resultado= " + soma);

    }
    </script>
