
@{
    ViewData["Title"] = "FazerTeste";
}

    <h1>
        Teste de INTELIGÊNCIA EMOCIONAL global
    </h1>

    <table>
        <tr>
            <td>
                1. Dois dos teus amigos estão a ter uma severa discussão e tu…
            </td>
        <tr>
            <td>
                <input type="radio" id="p1r1" name="p1" value="1">
                <label for="male">Tento ajudá-los a entender o ponto de vista de cada um;</label>
                <br>
                <input type="radio" id="p1r2" name="p1" value="2">
                <label for="male">Escolho um lado e discuto com o oposto; </label>
                <br>
                <input type="radio" id="p1r3" name="p1" value="3">
                <label for="male">Evito-os aos dois até a discussão acabar;</label>
                <br>
                <input type="radio" id="p1r4" name="p1" value="4">
                <label for="male">Deixo-os desabafar comigo.</label>
                <br>
              </td>
        </tr>
        <tr>
            <td>
                2. Uma amiga tua diz-te que sofreu um aborto espontâneo. Como é que respondes?
            </td>
        <tr>
            <td>
                <input type="radio" id="p2r1" name="p2" value="1">
                <label for="male">Permites a tua amiga expressar os seus sentimentos e ofereces o teu apoio;</label>
                <br>
                <input type="radio" id="p2r2" name="p2" value="2">
                <label for="male">Tentas convencê-la a sair com amigos para distrair-se do assunto;</label>
                <br>
                <input type="radio" id="p2r3" name="p2" value="3">
                <label for="male">Dás tempo para ela estar sozinha;</label>
                <br>
                <input type="radio" id="p2r4" name="p2" value="4">
                <label for="male">Passas tempo com ela, evitando tocar no assunto.</label>
                 <br>
            </td>
        </tr>
        <tr>
            <td>
                3.	Quando te destacam uma tarefa pouco agradável, tendes a …
            </td>
        <tr>
            <td>
                <input type="radio" id="p3r1" name="p3" value="1">
                <label for="male">Fazer um plano e trabalhar nele um pouco todos os dias;</label>
                <br>
                <input type="radio" id="p3r2" name="p3" value="2">
                <label for="male">Deixas para o último momento possível;</label>
                <br>
                <input type="radio" id="p3r3" name="p3" value="3">
                <label for="male">Tentas tratar dele o mais rápido possível;</label>
                <br>
                <input type="radio" id="p3r4" name="p3" value="4">
                <label for="male">Não o fazes de todo. </label>
                 <br>
            </td>
        </tr>
        <tr>
            <td>
                4.	A tua filha decide fazer uma “birra” porque lhe dizes que não pode ter o brinquedo daquela loja. Tu…
            </td>
        <tr>
            <td>
                <input type="radio" id="p4r1" name="p4" value="1">
                <label for="male">Falas com ela sobre o que está a sentir;</label>
                <br>
                <input type="radio" id="p4r2" name="p4" value="2">
                <label for="male">Deixa-la chorar e tentar ignorá-la </label>
                <br>
                <input type="radio" id="p4r3" name="p4" value="3">
                <label for="male">Compras-lhe o brinquedo para a acalmar;</label>
                <br>
                <input type="radio" id="p4r4" name="p4" value="4">
                <label for="male">Rapidamente pegas nas tuas coisas e sais da loja.</label>
                 <br>
            </td>
        </tr>
        <tr>
            <td>
                5.	Durante uma discussão acesa, tenho tendência a…
            </td>
        <tr>
            <td>
                <input type="radio" id="p5r1" name="p5" value="1">
                <label for="male">Pedir uma pequena pausa antes de fazer um resumo da situação;</label>
                <br>
                <input type="radio" id="p5r2" name="p5" value="2">
                <label for="male">Ceder e pedir desculpa para acabar a discussão rapidamente;</label>
                <br>
                <input type="radio" id="p5r3" name="p5" value="3">
                <label for="male">Começo a insultar a outra pessoa;</label>
                <br>
                <input type="radio" id="male" name="p5" value="4">
                <label for="male">Desligo-me e deixo de responder à pessoa.</label>
                 <br>
            </td>
        </tr>
        <tr>
            <td>
                6.	Quando tenho de tomar uma decisão difícil, eu tendo a…
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p6" value="1">
                <label for="male">Seguir os meus instintos;</label>
                <br>
                <input type="radio" id="male" name="p6" value="2">
                <label for="male">Seguir a opção mais fácil; </label>
                <br>
                <input type="radio" id="male" name="p6" value="3">
                <label for="male">Depender de orientação de outras pessoas;</label>
                <br>
                <input type="radio" id="male" name="p6" value="4">
                <label for="male">Adivinho ao acaso. </label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                7.	Qual das seguintes frases te descreve melhor?
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p7" value="1">
                <label for="male">Eu facilmente conheço pessoas novas e faço novas amizades;</label>
                <br>
                <input type="radio" id="male" name="p7" value="2">
                <label for="male">Eu tenho de conhecer alguém muito bem até poder confiar na pessoa; </label>
                <br>
                <input type="radio" id="male" name="p7" value="3">
                <label for="male">Eu acho difícil conhecer pessoas novas e criar amizades;</label>
                <br>
                <input type="radio" id="male" name="p7" value="4">
                <label for="male">Eu sou incapaz de manter amizades próximas. </label>
                 <br>
            </td>
        </tr>
        <tr>
            <td>
                8.	Tens uma má nota num teste para o qual estudaste imenso. Como lidas com a situação?
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p8" value="1">
                <label for="male">Tento pensar em formas de como poderia ter tido uma melhor prestação;</label>
                <br>
                <input type="radio" id="male" name="p8" value="2">
                <label for="male">Confronto o professor e peço uma nota melhor; </label>
                <br>
                <input type="radio" id="male" name="p8" value="3">
                <label for="male">Critico e desprezo o meu próprio trabalho;</label>
                <br>
                <input type="radio" id="male" name="p8" value="4">
                <label for="male">Concluo que a disciplina é inútil e não me esforço mais.</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                9.	O teu colega de trabalho tem um hábito irritante que parece piorar a cada dia que passa. Tu…
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p9" value="1">
                <label for="male">Dizes ao teu colega o que te está a perturbar;</label>
                <br>
                <input type="radio" id="male" name="p9" value="2">
                <label for="male">Fazes uma queixa da situação ao teu supervisor;</label>
                <br>
                <input type="radio" id="male" name="p9" value="3">
                <label for="male">Falas mal do teu colega nas suas costas;</label>
                <br>
                <input type="radio" id="male" name="p9" value="4">
                <label for="male">Sofres em silêncio.</label>
                <br>
                <input type="radio" id="male" name="p9" value="5">
                <label for="male">Concordo Fortemente</label>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                10.	Já estás super sobrecarregado quando o teu chefe te destaca mais uma grande tarefa. Como é que te sentes?
            </td>
        <tr>
            <td>
                <input type="radio" id="male" name="p10" value="1">
                <label for="male">Ansioso por ter imenso trabalho por fazer;</label>
                <br>
                <input type="radio" id="male" name="p10" value="2">
                <label for="male">Extremamente abalado pela quantidade de trabalho que tens; </label>
                <br>
                <input type="radio" id="male" name="p10" value="3">
                <label for="male">Zangado por o teu chefe não conseguir reconhecer que já estás muito ocupado;</label>
                <br>
                <input type="radio" id="male" name="p10" value="4">
                <label for="male">Deprimido e certo que nunca terminarás todas as tarefas a tempo. </label>
            <br>
            </td>
        </tr>
       
    </table>

<button type="button" onclick="calculaFuncao()">Calcular 
</button>

<script>
    function calculaFuncao() {
        var soma = 0; 
        for (var i = 1; i <= 10; i++) {
          //  alert('input[name="p' + i + '"]:checked');

            soma += parseInt(document.querySelector('input[name="p' + i + '"]:checked').value);
        }
        if (soma > 27) alert("Pontuação Alta , parabéns, a sua inteligência emocional é elevada. Resultado= "  + soma);
        else if (soma >= 27 && soma > 13) alert("Pontuação media , poderá melhorar a sua inteligência emocional. Resultado=" + soma);
        else if (soma <= 13) alert("Pontuação baixa, necessita de melhorar a sua inteligência emocional. Resultado= "+ soma);

    } 
    </script>
