@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bom dia! Hoje será um óptimo dia!</h1>
        <p>
            Inteligência emocional é quando cérebro e coração são amigos.
        </p>

        <div style="background: rgba(0, 128, 0, 0.2)">

            <img src="https://enterprisersproject.com/sites/default/files/images/cio_emotionalintelligence_eq_idea.png">
        </div>
        <br>
        <button type="button">Login!</button>

    </div>
