<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmotionalIntel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!--     <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EmotionalIntel</a>-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" width="145px" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">



                        <div id="divTecnicas">
                            <li id="tecnicas" class="nav-item dropdown">
                                <a id="nav-anchor" class="nav-link dropdown-toggle" data-toggle="dropdown">Realizar Teste</a>
                                <div id="dropdown-menu" class="dropdown-menu">
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="TestesRealizados" asp-action="FazerTeste">Exaustão Emocional e Descrença</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Home" asp-action="Index">Gestão de Tempo</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Home" asp-action="Index">Empatia</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Home" asp-action="Index">Gestão de Conflitos</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Home" asp-action="Index">Gestão de Stress</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Home" asp-action="Index">Inteligência Emocional</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="TestesRealizados" asp-action="FazerTeste2">Desenvolvimento Emocional</a>

                                </div>
                            </li>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Perguntas" asp-action="Index">Perguntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tecnicas" asp-action="Index">Técnicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Respostas" asp-action="Index">Respostas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Testes" asp-action="Index">Testes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TestesRealizados" asp-action="Index">Testes Realizados</a>
                        </li>
                        <div id="divTecnicas">
                            <li id="tecnicas" class="nav-item dropdown">
                                <a id="nav-anchor" class="nav-link dropdown-toggle" data-toggle="dropdown">Técnicas</a>
                                <div id="dropdown-menu" class="dropdown-menu">
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Tecnicas" asp-action="Empatia">Empatia</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Tecnicas" asp-action="ExaustaoEmocional">Exaustão Emocional</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Tecnicas" asp-action="GestaoConflitos">Gestão de conflitos</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Tecnicas" asp-action="GestaoStress">Gestão de stress</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Tecnicas" asp-action="GestaoTempo">Gestão de tempo</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Tecnicas" asp-action="InteligenciaEmocionalGlobal">Inteligência Emocional Global</a>
                                    <a id="dropdown-item" class="dropdown-item" asp-controller="Tecnicas" asp-action="DesenvolvimentoEmocional">Desenvolvimento Emocional</a>

                                </div>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tecnicas" asp-action="Coaching">Coaching</a>
                        </li>

                    </ul>
                </div>
            </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - EmotionalIntel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>
